.footer{
  
    display: flex;
    height: 5px;
    position: fixed;
    z-index:100 ;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background-color: white;
 align-items: center;
 

}

@media screen and (min-width: 900px) {
    .footer {
     display: none;
    }
  }
  .hide{
    display: none;
  }
 